{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 999,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "singleQuote": false,
  "requirePragma": true
}
